<ul>
  <% @drinks.each do |drink| %>
    <li><%= drink.name %></li>
      <% drink.reviews.each do |review| %>
        <p><%= review.body %></p>
      <% end %>
  
        <div class="">
          <%= simple_form_for [drink, drink.reviews.build]  do |f| %>
            <%= f.error_notification %>
            <h4>Add a Review</h4>
            <div class= 'form-group'>
              <%= f.input :title, label: false, placeholder: "Title", input_html: { rows: 1 } %><br>
            </div>
            <div class= 'form-group'>
              <%= f.input :drink_rating %><br>
            </div>
            <div class= 'form-group'>
              <%= f.input :body, label: false, placeholder: "Enter your review here", input_html: { rows: 4 } %><br>
            </div>
            <p>
              <%= f.submit 'Send', :class => 'button right' %> 
            </p>
          <% end %>
        </div>
    
  <% end %>    
</ul>