<h3> Edit caf&eacute; </h3>
<%= form_for @shop do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %>

  <%= f.label :discritpion%>
  <%= f.text_field :author %>

  <%= f.label :website %>
  <%= f.text_field :website %>

  <%= f.submit %>
<% end %>
<%= render 'form' %>

<%= link_to 'Show', @shop %> |
<%= link_to 'Back', shops_path %>