<%# stylesheet_link_tag "shops" %>
<div class="row">
  <div class="small-12 columns search-area pad-top-50 pad-bottom-15 ">
    <div id= "search-box" class= "small-12 medium-6 small-centered text-center columns">
      <h1>Search Cafes Nearby <br><small>Enter a City, Zipcode or Address</small></h1>
      <%= form_tag shops_path, :method => :get do %>
        <div class="row collapse">
          <div class="small-10 columns">
            <%= text_field_tag :search, params[:search] %>
          </div>
          <div class="small-2 columns">
            <%= button_tag :name => nil, class: "button postfix" do %>
              <i class="fa fa-search" ></i>
            <% end %>
          </div>
        </div> 
      <% end %>
    </div>     
  </div>
  <div class="small-12 large-8 large-offset-2 end columns">
    <div id= "search-results" class= "container row-list">
      <% if params[:search] %>
        <% if @shops.empty? %>
          <h3 class="text-center">No results found for "<%= params[:search] %>"</h3>
        <% else %>
          <h4>Results for "<%= params[:search] %>"</h4>
          <% @shops.each do |shop| %>
            <div class="row row-item">
              <div class="hide-for-small-only medium-2 columns photo-item">
                <% if shop.pictures.first %>
                  <%= link_to image_tag(shop.pictures.first.photo.url(:thumb), class: "th radius"), shop_path(shop)  %>
                <% else %>
                  <%= link_to image_tag("http://placehold.it/100x100", class: "th radius"), shop_path(shop)  %>
                <% end %>  
              </div>
              <div class="medium-10 columns" >
                <h3><%=link_to shop.name,shop_path(shop), class: "main-link" %></h3>
                <p class=''><%= raw "#{shop.location.street_address}<br> #{shop.location.city}, #{shop.location.state}" if shop.location %></p>
              </div>
            </div> 
          <%end%>
        <% end %>
      <%end%>
    </div>
  </div>  
</div>

