<div class="row ">
  <div class="large-3 columns show-for-large-up ">
    <div class= "container sidebar">
      <%= render 'shops/sidebar' %>
    </div>
  </div>
  <div class="small-12 large-9 columns">
    <div class= "container information-display">
      <div class="row">
        <div class="hide-for-small-only medium-3 columns photo-item">
          <% if @shop.pictures.first %>
            <%= image_tag(@shop.pictures.first.photo.url(:medium), class: "th radius")  %>
          <% else %>
            <%= image_tag("http://placehold.it/300x300", class: "th radius")  %>
          <% end %>  
        </div>
        <div class="small-12 medium-9 columns">
          <h1><%= @shop.name %></h1>
          <p class='location'><%= "#{@shop.location.city}, #{@shop.location.state}" if @shop.location %><%= link_to "(Show on map)", "https://www.google.com/maps/place/#{@shop.name.gsub(" ","+")}/@#{@shop.location.try(:latitude)},#{@shop.location.try(:longitude)}", target: "_blank" %></p>
          <p><%= @shop.description %></p>
          <div class="info-links center-on-small">
              <% if current_user %>
                <a href="#" data-reveal-id="addDrink" class="button tiny primary"><i class="fa fa-plus fa-lg"></i></a>
                <%= link_to '#', class: "button tiny primary", data: {"reveal-id" => "addPhoto"} do %>
                  <i class="fa fa-camera fa-lg"></i>
                <% end %>
                <span class='follow_buttons'>
                  <% if @shop.followed_by?(current_user) %>
                    <%= render 'follows/unfollow' %>
                  <% else %>
                    <%= render 'follows/follow' %>
                  <% end %>
                </span>
              <% end %>
              <%= link_to url_with_http_protocol(@shop.website), class: "button tiny primary", :target => '_blank' do %>
                <i class="fa fa-external-link fa-lg"></i>
              <% end %>
          </div>
        </div>
      <%= link_to 'Edit Café', edit_shop_path(@shop.id), class: 'edit'%> 
      </div>
    </div> 
  
    <div class="row">
      <%= render 'pictures/display_photos' %>
    </div>

    <div class= "container activity-display">
      <h3 class= 'activity'>Activity of the coffee shop</h3>
        <div class="row">
        </div>
    </div> 
  </div> 
</div> 



<% if current_user %>
  <div id="addPhoto" class="reveal-modal small" data-reveal>
    <%= render "shops/photo_upload" %>
    <a class="close-reveal-modal">&#215;</a>
  </div> 
<% end %>

<!-- <%## if @shop.location %>
        <p><%#= @shop.location.street_address %></p>
        <p><%#= @shop.location.city %>,<%#= @shop.location.state %> <%#= @shop.location.zipcode %></p>
        <p><%#= @shop.location.latitude %>, <%#= @shop.location.longitude %></p>
        <%#= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@shop.location.latitude},#{@shop.location.longitude}&zoom=16&size=400x400" %>
      <# end %>
      <br> -->
    


