<div>
    <h2><%= @shop.name %><small> <%= @shop.website %></small></h2>
    <h4><%= @shop.description%></h4>

    <h3>Drinks</h3>
      <%= render 'shops/drinks' %>

    <%= link_to 'Add a drink', new_shop_drink_path(@shop) %> | <%= link_to 'Back', root_path %>
</div>