<%= render 'shops/sidebar' %>
  <div class= "small-10 columns"> 
    <h1><%= @shop.name %></h1>
      <% if current_user %>
        <% if @favorite.nil? || false %>
            <%= link_to '<i class="fa fa-plus"></i> Add to favorites'.html_safe, favorites_path(shop_id: @shop), class: 'fa fa-coffee', method: :post, class: "button" %>
        <% elsif @favorite.favorable %>
          <%= link_to "<i class='fa fa-plus'></i> Unfavoritize".html_safe, favorite_path(@favorite.favorable_id), method: :delete, class: "button" %>
        <% end %>
      <% end %>
    <h2><%= @shop.description %></h2>
    <h2><%= link_to @shop.website, url_with_http_protocol(@shop.website), :target => '_blank' %></h2> 
    <% if @shop.location %>
      <p><%= @shop.location.street_address %></p>
      <p><%= @shop.location.city %>,<%= @shop.location.state %> <%= @shop.location.zipcode %></p>
      <p><%= @shop.location.latitude %>, <%= @shop.location.longitude %></p>
      <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@shop.location.latitude},#{@shop.location.longitude}&zoom=16&size=400x400" %>
    <% end %>
    <br>
  </div> 