<%= simple_form_for ([@shop, @drink.build]) do |f| %>
  
  <div class="form-group">
    <%= f.input :name %><br>
  </div>
 
  <div class="form-group">
    <%= f.input :description %><br>
  </div>

  <p>
  <%= f.submit 'Submit', :class => 'button right' %> 
  <%= link_to 'Back', shop_path(@shop) %>
  </p>  
<% end %>