<%= simple_form_for [@shop, @drink] do |f| %>
  <%= f.fields_for :pictures, @drink.pictures.build do |picture| %>
    <div class="nested-fields">
      <%= picture.input :caption %>
      <%= picture.input :photo %>
      <%= picture.input :user_id, input_html: {value: current_user.id}, as: :hidden %>
    </div> 
  <% end %>  
  <p class="text-center">
    <%= f.submit 'Submit', class: 'button' %> 
  </p>  
<% end %>