<%= render 'shops/sidebar' %>
<div class= "small-10 columns">
  <div class = "favorite-buttons">
    <% if current_user %>
        <% if @favorite.nil? || false %>
            <%= render 'favorites/favorite_button' %>
        <% elsif @favorite.favorable %>
            <%= render 'favorites/unfavorite_button' %>
        <% end %>
    <% end %>
  </div>
  <% if user_signed_in? %>
  <a href="#" data-reveal-id="addReview" class= "button right"><i class="fa fa-plus"></i> Add a new review</a>
  <% else %>
    <%= link_to "Sign in to write a review", new_user_registration_path, class: "button right" %>
  <% end %>
  <h1 class="text-center"> <%= @drink.name %></h1>
  <p> <%= @drink.description %></p>

  <%= link_to '#', class: "button", data: {"reveal-id" => "addPhoto"} do %>
    <i class= "fa fa-camera"></i> Add a photo
  <% end %>
  <%= render 'pictures/display_photos' %>
  <hr>
  <%= render 'reviews/drink_reviews' %>
</div>

<!-- Modal Divs -->
<div id="addReview" class="reveal-modal small" data-reveal>
  <%= render "reviews/form_reviews" %>
  <a class="close-reveal-modal">&#215;</a>
</div> 
<div id="addPhoto" class="reveal-modal small" data-reveal>
  <%= render "drinks/photo_upload" %>
  <a class="close-reveal-modal">&#215;</a>
</div> 