<div class="row ">
  <div class="large-3 columns show-for-large-up ">
    <div class= "container sidebar">
      <%= render 'shops/sidebar' %>
    </div>
    <div class= "container checkin-display sidebar">
      <%= render 'reviews/drink_checkin' %>
    </div>
  </div>  
  <div class="small-12 large-9 columns">
    <div class= "container information-display bg-white">
      <div class="row">
        <div class="hide-for-small-only medium-3 columns photo-item">
          <% if @drink.pictures.first %>
            <%= image_tag(@drink.pictures.first.photo.url(:medium), class: "th radius")  %>
          <% else %>
            <%= image_tag("300x300.gif", class: "th radius")  %>
          <% end %>  
        </div>
        <div class="small-12 medium-9 columns">
          <h1 class="cap"><%= @drink.name %></h1>
          <p class="cap"><%= @drink.description %></p>
          <span class="info-links center-on-small"> 
              <% if current_user %>
                <%= link_to 'Add a new review', class: "Radius button tiny primary", data: {"reveal-id" => "addReview"} do %>
                  Add a new review
                <% end %>
                <span data-tooltip aria-haspopup="true" class="has-tip" data-options="show_on:large" title="Add a photo"><%= link_to '#', class: "button tiny primary", data: {"reveal-id" => "addPhoto"} do %>
                  <i class="fa fa-camera fa-lg"></i>
                <% end %></span>

                <% @review = @drink.reviews.build %>
                <%= simple_form_for [@drink, @review]  do |f| %>
                  <%= f.hidden_field :review_type, value: :checkin%>
                  <%= f.hidden_field :shop_id, value: @shop.id %>
                  <%= f.hidden_field :drink_rating, value: 0 %>
                  <span data-tooltip aria-haspopup="true" class="has-tip" data-options="show_on:large" title="Check In"><%= button_tag(type: 'submit', class: "button tiny primary") do %>
                    <i class="fa fa-check-square-o fa-lg"></i>
                  <% end %></span>

                <% end %>
                <span class = "favorite-buttons">
                  <% if @favorite.nil? || false %>
                    <%= render 'favorites/favorite_button' %>
                  <% elsif @favorite.favorable %>
                    <%= render 'favorites/unfavorite_button' %>
                  <% end %>
                </span>
              <% end %>
            </span>    
          </div> 
       </div>  
    </div> 
    <div class="row">
      <%= render 'pictures/display_photos' %>
    </div>
    <div class= "container ">
      <h5 class='top-container margin-0'>Recent Activity</h5>
      
      <div class="row">
        <div class= "big-container ">
          <%= render 'reviews/drink_reviews' %>    
        </div> 
    </div> 
  </div> 
</div>   


<!-- Modal Divs -->
<% if current_user %>
  <div id="addReview" id="no_float" class="reveal-modal small" data-reveal>
    <%= render "reviews/form_reviews" %>
    <a class="close-reveal-modal">&#215;</a>
  </div> 
  <div id="addPhoto" class="reveal-modal small" data-reveal>
    <%= render "drinks/photo_upload" %>
    <a class="close-reveal-modal">&#215;</a>
  </div> 
<% end %>