<div class="row">
  <div  class= "container ">
    <div class="row">
      <div class="small-4 columns medium-4 columns photo-item">
         <%= image_tag @user.avatar.url(:medium), class: "user-medium" %>
      </div>
      <div class="small-8 medium-8 columns">
        <h1><%= @user.name%></h1>
        <td>Points: <%= @user.points %></td> 
        <br>
        <td>Rank: <%= @user.rank.humanize %></td>
        <% if current_user && @user.id == current_user.id %> 
          <p><%= link_to 'Edit My Account', edit_user_registration_path, class: "button tiny" %></p> 
        <% end %> 
      </div>

    </div>
  <div class="small-12 medium-3 columns">
    <% if @user.id != current_user.id %>
      <% if @user.followed_by?(current_user) %>
        <%= link_to "Unfollow", user_follow_user_path(user_id: @user), method: :delete, class: "button tiny primary" %>
      <% else %>
        <%= link_to "Follow", user_follow_users_path(user_id: @user ), method: :post, class: "button tiny primary" %>
      <% end %>
    <% end %>
  </div>
  
  <div class="small-12 medium-9 columns">
    <h3>My Photos</h3>
    <hr>
    <%= render 'pictures/display_photos' %>

    <h3>My Favorite Drinks</h3>
    <hr>
      <%= render 'users/favorite_drinks' %>

    <h3>Shops I'm Following</h3>
    <hr>
      <ul>
        <% if current_user.id == @user.id %>
          <% @shop_follows.each do |follow| %>
          <li><%= link_to follow[:name], shop_path(follow.friendly_id) %> | <%= link_to '',shop_follow_path(shop_id: follow.id),class:"fa fa-bomb", method: :delete %></li>
          <% end %>
        <% end %>
      </ul>

    <h3>Users I"m Following</h3>
    <hr>
      <ul>
        <% if current_user.id == @user.id %>
        <% @user_follows.each do |follow| %>
          <li><%= link_to follow[:name], user_path(follow.friendly_id) %> | <%= link_to '', user_follow_user_path(user_id: follow.id), class:"fa fa-bomb", method: :delete %></li>
          <% end %>
        <% end %>
      </ul>
      
    <h3>Recent Activity</h3>
    <hr>
    <% @reviews.each do |review|%>
      <div class='panel'>
        <p>
          Review <%= link_to review.drink.name, shop_drink_path(review.shop.id, review.drink.id) %> from <%= link_to review.shop.name, shop_path(review.shop.id) %>
        </p>
        <p>
          <% review.drink_rating.times do  %>
            <span><i class = "fa fa-coffee coffee fa-lg"></i></span>  
          <% end %> - <%= review.title %>
        </p>
        <p>
          <%= review.body %>
        </p> 
        <% if current_user && @user.id == current_user.id %>
          <%= link_to 'Delete Review', drink_review_path(review.drink.id, review.id), method: :delete, data: { confirm: 'Are you sure you want to delete this review?' } %>
        <% end %> 
      </div>
    <% end %> 
  </div>
</div>

 
