<div class="">
  <% if user_signed_in?  %>
    <%= simple_form_for [drink, drink.reviews.build]  do |f| %>
      <%= f.error_notification %>
      <h4>Add a Review</h4>
      <div class= 'form-group'>
        <%= f.input :title, label: false, placeholder: "Title", input_html: { rows: 1 } %><br>
      </div>
      <div class= 'form-group'>
        <%= f.input :drink_rating, collection: 1..5, prompt: "Select a rating" %><br>
      </div>
      <div class= 'form-group'>
        <%= f.input :body, label: false, placeholder: "Enter your review here", input_html: { rows: 4 } %><br>
      </div>
      <p>
        <%= f.submit 'Send', :class => 'button right' %> 
      </p>
    <% end %>
    <% else %>
    <h3> Sign in to create a review</h3>
  <% end %>
</div>