<li class="has-form main_search_bar">
  <div class="row collapse">
    <div class="large-10 small-9 columns inside_search_bar">
      <%= form_tag root_path, :method => :get do %>
        <%= text_field_tag :search, params[:search], placeholder: 'Search for Cafes' %>
      <% end %>
    </div>
     <%#= submit_tag "Search Near", :name => nil %>
   <!--  <div class="large-4 small-3 columns">
      <a href="#" class="alert button expand">Search</a>
    </div> -->
  </div>
</li>
<%# add navigation links to this file %>
<li class="<%= "active" if params[:action] == "index" %>"><%= link_to 'Cafes', root_path('root') %></li>
<li><%= link_to 'About', page_path('about') %></li>

<% if user_signed_in? %>
  <li><%= link_to 'Add Cafe', new_shop_path %></li>
<% else %>
  <li ><%= link_to 'Sign in', new_user_session_path, data: {"reveal-id" => "signIn"} %></li>
  <li ><%= link_to 'Sign up', new_user_registration_path, data: {"reveal-id" => "signUp"} %></li>
  <!--<li><%#= link_to 'Sign up', new_user_registration_path %></li>-->
<% end %>


<div id="signIn" id="no_float" class="reveal-modal small" data-reveal>
  <%= render "devise/sessions/sign_in" %>
  <a class="close-reveal-modal">&#215;</a>
</div>


<div id="signUp" id="no_float" class="reveal-modal small" data-reveal>
  <%= render "devise/registrations/sign_up" %>
  <a class="close-reveal-modal">&#215;</a>
</div>