<li class="has-dropdown">
  <%= link_to 'My account', user_path(current_user) %>
  <ul class="dropdown">
    <li><%= link_to 'News Feed', activities_path %></li>
    <li><%= link_to 'Leaderboard', leaderboard_path %></li>
    <li><%= link_to 'Edit account', edit_user_registration_path %></li>
    <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li> 
  </ul>
</li>